@color: #4CAF50;
@background-color: aliceblue;
@background-color2: beige;
@color2: white;
@border: #ccc;
@color3: black;
@background-color3: #f1f1f1;
@color4: #000;

@grid-columns: 12;
@grid-gutter-width: 30px;
@grid-float-breakpoint: 768px;

@font: 'Helvetica';

@-moz-document url-prefix( {
  fieldset {display: table-cell;}
}

/* Extra small devices (767px and down) */
@media (max-width: 767px) {
  .row.vertical-align {
    display: block; /* Turn off the flexible box layout */
  }
}

/* Small devices (tablets, 768p and up) */
@media (min-width: 768px) {
  .row.vertical-align {
    display: flex;
    align-items: center;
  }
}

html {
    font-family: @font;
    word-spacing: 0.25em;
    font-size: 14px;
    font-weight: bold;
    background-color: @background-color;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  /*table {
   border-collapse: initial;
   width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  tr:nth-child(even) { background-color: @background-color2}
  
  th {
    background-color: @color;
    color:@color2;
  }*/
  
  input[type=text], select {
    width: 100%;
    padding: 22px 20px;
    margin: 18px 0;
    display: flex;
    border: 12px solid @border;
    border-radius: 18px;
    box-sizing: border-box;
  }
  
  div {
    border-radius: 5px;
    padding: 10px;
  }
  
  .header {
    background-color: @color;
    color: @color3;
    padding: 15px;
    opacity: 0.7;
    font-size: 18px;
  }

  .footer {
    background-color: @color;
    color: @color3;
    padding: 15px;
    opacity: 0.7;
    font-size: 12px;
  }
  
  ul {
      list-style-type: armenian;
      margin: 0;
      padding: 0;
      background-color: @background-color3;
  }
  
  li {
    display: -webkit-box;
  }
  
  li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: @color;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.vertical-align {
  display: flex;
  flex-direction: row;
}